<section class="fw-section layout-full">
    <div class="container">
        <div class="row bottom-extra confulence__feature2">
            <div class="col-lg-6 col-md-6 col-sm-12 padding-top-6x">
                <h2>Points of Discussion</h2>
                <h5 style="margin: 0"><b class="text-gray-dark">Topic: </b>Confluence of Digital Marketing and Data Science: Impactful Insights!</h5>
                <h5 style="margin: 0"><b class="text-gray-dark">Date: </b>Tuesday – 31st July, 2018</h5>
                <h5 style="margin: 0"><b class="text-gray-dark">Time: </b>09.00 am – 11.30 am IST</h5>
                <h5><b class="text-gray-dark">Venue: </b>Tasar, The Ritz-Carlton, Bengaluru</h5>
                <div style="display: -webkit-inline-box;">
                    <span class="fa-stack fa-1x" style="margin-right: 14px;">
                        <i class="fa fa-circle icon-background-outer fa-stack-2x" style="color: #EA7924; opacity: 0.05; font-size: 30px;"></i>
                        <i class="fa fa-check-circle fa-stack-1x" style="color: #EA7924; opacity: 0.65; font-size: 19px;"></i>                        
                    </span>
                    <h5 style="line-height: 19px;">Using data science to enhance marketing strategies</h5>
                </div>

                <div style="display: -webkit-inline-box;">
                    <span class="fa-stack fa-1x" style="margin-right: 14px;">
                        <i class="fa fa-circle icon-background-outer fa-stack-2x" style="color: #EA7924; opacity: 0.05; font-size: 30px;"></i>
                        <i class="fa fa-check-circle fa-stack-1x" style="color: #EA7924; opacity: 0.65; font-size: 19px;"></i>
                    </span>
                    <h5 style="line-height: 19px;">The demand for data scientists in marketing is growing <br> in relation to the rapid advancements in technology</h5>
                </div>

                <div style="display: -webkit-inline-box;">
                    <span class="fa-stack fa-1x" style="margin-right: 14px;">
                        <i class="fa fa-circle icon-background-outer fa-stack-2x" style="color: #EA7924; opacity: 0.05; font-size: 30px;"></i>
                        <i class="fa fa-check-circle fa-stack-1x" style="color: #EA7924; opacity: 0.65; font-size: 19px;"></i>
                    </span>
                    <h5 style="line-height: 19px;">How to move past the experimental phase <br> and start gaining ROI using data science</h5>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img style="width: 100%; " src="/assets/img/cv/confluence/bitmap-copy.png" alt="">
            </div>
        </div>

    </div>
</section>