<section class="fw-section layout-full padding-bottom-1x">
    <div class="container">
        <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="/assets/img/cv/confluence/bitmap.png" alt="">
                </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="padding-top-2x visible-lg"></div>
                <div class="padding-top-1x visible-md"></div>
                <div class="padding-top-6x visible-sm visible-xs"></div>

                <h2 class="confluence-feature1-header">Gain Insights into the workings of your consumers through data science.</h2>
                <h5>The convergence of data science and digital marketing is changing the way we approach marketing tasks. With the amount of data that we are constantly receiving, it's important for marketers to know how to filter this data to their needs. By using data science, marketers can sort through this data and gain insights into the workings of the consumer.</h5>
            </div>
        </div>
    </div>
</section>