<!DOCTYPE html>
<html lang="en-US">

<!-- Head -->
{{ partial "sections/head.html" . }}

<body>
<main>

    <!-- Off Canvas Sidebar Mobile -->
    {{ partial "sections/offcanvas-sidebar-mobile.html" .}}

    <!-- Header -->
    {{ partial "sections/header.html" .}}

    <div class="page-title title-size-xl text-light bg-parallax" data-parallax-speed="0.4" data-parallax-type="scroll"
         style="background-image: url(/assets/img/cv/big-data/hero-services-big-data.png);">
        <span class="overlay" style="background-color: #000000; opacity: 0.12;"></span>

        <div class="container">
            <div class="inner">
                <div class="column">
                    <div class="icon-box-icon pull-left">
                        <img alt="" src="/assets/img/cv/big-data/bigdata-icon.svg" width="55" style="margin-right: 20px;">
                    </div>
                    <h3>
                        Big Data & Analytics
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <article class="page">
        <section class="fw-section padding-top-3x padding-bottom-6x"  style="background-color: #f5f5f5;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 text-center block-title">
                        <img alt="" src="/assets/img/cv/big-data/big-data-graphic-transparent.png">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 padding-top-6x">
                        <h2 class="text-dark text-left padding-top-6x">
                            Accelerating Time to Value
                        </h2>

                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-12">
                                <div class="text-block">
                                    <p>
                                        <span class="text-gray">Clairvoyant provides strategy, architectural consulting and implementations on multiple big data platforms. Our team's deep vertical knowledge helps us create purpose-built solutions to meet business requirements.
</span>
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="row padding-top-2x">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="icon-box icon-box-horizontal icon-box-dark icon-box-type-image bg-no icon-left">
                                    <div class="icon-box-icon">
                                        <img alt="" src="/assets/img/cv/big-data/roadmap.svg">
                                    </div>

                                    <div class="icon-box-info-wrap">
                                        <h3 class="icon-box-title">
                                            Roadmap & Planning
                                        </h3>

                                        <div class="icon-box-description">
                                            <p>
                                                <span class="text-gray">From big data strategy and roadmap to implementation, our learnings gained over dozens of projects help carve the right program and approach to your big data journey.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="icon-box icon-box-horizontal icon-box-dark icon-box-type-image bg-no icon-left">
                                    <div class="icon-box-icon">
                                        <img alt="" src="/assets/img/cv/big-data/planning-consulting.svg">
                                    </div>

                                    <div class="icon-box-info-wrap">
                                        <h3 class="icon-box-title">
                                            Consulting
                                        </h3>

                                        <div class="icon-box-description">
                                            <p>
                                                <span class="text-gray">We help with technology selection, architecture, platform consulting and execution.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top-2x">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <a class="btn btn-rounded btn-primary btn-pill btn-nl btn-block waves-effect waves-light" href="/contact">Start your Big Data project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="solutions">
            
            <ul class="nav nav-pills">
                <li class="active">
                    <a data-toggle="pill" href="#data-engineering">
                        <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                    </a>
                    DATA ENGINEERING
                </li>
                <li>
                    <a data-toggle="pill" href="#dataops">
                        <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                    </a>
                    DATAOPS
                </li>
                <li>
                    <a data-toggle="pill" href="#ai">
                        <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                    </a>
                    AI
                </li>
                <li>
                    <a data-toggle="pill" href="#cloud">
                        <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                    </a>
                     CLOUD
                </li>
            </ul>
              
            <div class="tab-content">
                <div id="data-engineering" class="tab-pane fade in active">
                    <div class="container">
                        <h2>Data Engineering</h2>
                        <h3>Data Foundation, done right</h3>
                        <p>As organizations invest more in digitization, they need reliable data platforms that serve as a foundataion for their entire data value chain. We help you move from legacy data stores, mdernize your data ecosystem, and help incorporate the cloud into your data strategy.</p>
                        <p>"As data grows exponentially both in quantity and complexity, it is now becoming an organizational imperative to realize its full potential. Our holistic offering, coupled width "SOMETHING" enables you to achieve end to end analytics proficiency."</p>
                        <p>Data is the backbone of any transfromational software project because without the right data served up at the right time to the right audience, business outcomes will never be met</p>
                    </div>
                    <div class="gray-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    <div class="blue-header-card">
                                        <h5>Feature Engineering</h5>
                                        <p>Transform, Vinning Temporal, Text, Image, Feature Selection</p>
                                    </div>
                                    <div class="blue-header-card">
                                        <h5>Model Training</h5>
                                        <p>Algorithms, Ensemble Parameter Tuning Retraining Model Management</p>
                                    </div>
                                    <div class="blue-header-card">
                                        <h5>Model Evaluation</h5>
                                        <p>Cross Validation, Model Reporting, A/B Testing</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-6">
                                    <img class="card-image" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="brown-header-card">
                                        <h5>Data Source</h5>
                                        <p>On-Premises vs Cloud Database vs Files</p>
                                    </div>
                                    <div class="brown-header-card">
                                        <h5>Pipeline</h5>
                                        <p>Streaming vs Batch Low vs High Frequency</p>
                                    </div>
                                    <div class="brown-header-card">
                                        <h5>Environment</h5>
                                        <p>On-Premises vs Cloud Database vs Data lake vs Small vs Medium vs Big Data</p>
                                    </div>
                                    <div class="brown-header-card">
                                        <h5>Warning, Exploration,& Cleaning</h5>
                                        <p>Structured vs Unstructured Data Validation & Cleanup Visualization</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container padding-top-4x">
                        <h3>Foundational Data platforms</h3>
                        <p>OUr technology designs and solutions are not meant to be black box solutions, we build bespoke, custom and tailored platforms that solve your needs, and best interate with your ecosystem as opposed to making your ecosystem fit to a tool</p>
                        <h3 class="text-center">BESPOKE + ACCELERATED</h3>
                        <h3>Modern Data Platform</h3>
                        <p>Succedding with analytics demands a data architecture that can integrate data from a variety of sources, handle rapidly changing structures, and support a range of workloads. But this is complicated and messy. Our modern data platform in the cloud - helps you accelerate this whole process!</p>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h3>Realize immediate results with our</h3>
                                <p>High velocity Development Strong architectural foundations, moved ahead by Move fast, course correct.</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h3>Bringing agility to data.</h3>
                                <p>"Long has agile been the purview of application development, we bring our expertise in building agile enterprise systems to data platforms."</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dataops" class="tab-pane fade">
                    <div class="container">
                        <h2>DataOPS</h2>
                        <h3>Manage, maintain, upgrade, patch, secure, tune, configure, reliable</h3>
                        <ul>
                            <li>Leverage Existing Investments.</li>
                            <li>Expand Possibilities.</li>
                            <li>Reduce Technical Debt.</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    {{ $alt := "dataops" }}
                    {{ partial "sections/solutions/managed-service.html" (dict "context" . "tab" $alt)}}
                </div>
                <div id="ai" class="tab-pane fade">
                   <div class="container">
                        <h2>AI</h2>
                        <h3>Modern Analytics</h3>
                         <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        </ul>
                    </div>
                    <div class="gray-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    <div class="blue-header-card">
                                        <h5>Feature Engineering</h5>
                                        <p>Transform, Vinning Temporal, Text, Image, Feature Selection</p>
                                    </div>
                                    <div class="blue-header-card">
                                        <h5>Model Training</h5>
                                        <p>Algorithms, Ensemble Parameter Tuning Retraining Model Management</p>
                                    </div>
                                    <div class="blue-header-card">
                                        <h5>Model Evaluation</h5>
                                        <p>Cross Validation, Model Reporting, A/B Testing</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-6">
                                    <img class="card-image" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="brown-header-card">
                                        <h5>Data Source</h5>
                                        <p>On-Premises vs Cloud Database vs Files</p>
                                    </div>
                                    <div class="brown-header-card">
                                        <h5>Pipeline</h5>
                                        <p>Streaming vs Batch Low vs High Frequency</p>
                                    </div>
                                    <div class="brown-header-card">
                                        <h5>Environment</h5>
                                        <p>On-Premises vs Cloud Database vs Data lake vs Small vs Medium vs Big Data</p>
                                    </div>
                                    <div class="brown-header-card">
                                        <h5>Warning, Exploration,& Cleaning</h5>
                                        <p>Structured vs Unstructured Data Validation & Cleanup Visualization</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="padding-top-4x padding-bottom-4x">
                        <div class="container">
                            <h3>Analytics</h3>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            </p>
                            <h3 class="text-center"><span style="color: #EA7924">YOUR DATA + YOUR DOMAIN EXPERTISE</span> <br/>OUR MODELING AND ENGINEERING AND EXPERTISE =?</h3>
                        </div>
                    </div>
                    {{ $alt := "ai" }}
                    {{ partial "sections/solutions/managed-service.html" (dict "context" . "tab" $alt)}}
                </div>
                <div id="cloud" class="tab-pane fade">
                    <div class="container">
                        <h2>Cloud</h2>
                        <h3>Modern Data Platform</h3>
                        <p>Succedding with analytics demands a data architecture that can integrate data from a variety of sources, handle rapidly changing structures, and support a range of workloads. But this is complicated and messy. Our modern data platform in the cloud - helps you accelerate this whole process!</p>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h3>Realize immediate results with our</h3>
                                <p>High velocity Development Strong architectural foundations, moved ahead by Move fast, course correct.</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h3>Bringing agility to data.</h3>
                                <p>"Long has agile been the purview of application development, we bring our expertise in building agile enterprise systems to data platforms."</p>
                            </div>
                        </div>
                        <h3>Automation</h3>
                        <h5>AWS Managed Service</h5>
                        <p>"Long has agile been the purview of application development, we bring our expertise in building agile enterprise systems to data platforms."</p>
                        <h3 class="text-center"><span style="color: #EA7924">YOUR DATA + YOUR DOMAIN EXPERTISE</span> <br/>OUR MODELING AND ENGINEERING AND EXPERTISE =?</h3>
                        <div class="cloud-grid">
                            <div class="solution-card">
                                <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <h5>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                </h5>
                                <ul>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                </ul>
                            </div>
                            <div class="solution-card">
                                <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <h5>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                </h5>
                                <ul>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                </ul>
                            </div>
                            <div class="solution-card">
                                <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <h5>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                </h5>
                                <ul>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                </ul>
                            </div>
                            <div class="solution-card">
                                <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <h5>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                </h5>
                                <ul>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{ $alt := "cloud" }}
                    {{ partial "sections/solutions/managed-service.html" (dict "context" . "tab" $alt)}}
                </div>
            </div>
        </section>
        <section class="fw-section padding-top-3x">
            <div class="container">
                <div class="row col-lg-12 col-md-12 col-sm-12">
                    <h2 class="block-title text-dark text-left">
                        Data Solutions & Services<small class="h4">We help drive our client’s journey to build data products</small>
                    </h2>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="blog-post-tile">
                            <article class="post-tile">
                                <div class="sticky-label">
                                    <i class="material-icons flash_on"></i>Sticky Post
                                </div>
                                <div class="post-thumb">
                                    <img alt="" src="/assets/img/cv/big-data/enterprise-dev-image.jpg">
                                </div>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        Enterprise Data Management
                                    </h3>

                                    <p class="text-gray">
                                        Things that before seemed impossible, are now within your reach
                                    </p>

                                    <ul>
                                        <li>Automation of the ingestion process through pre-built frameworks for batch and streaming data.</li>
                                        <li>Inbuilt data quality hub that helps achieve data quality and data profiling while being fast and scalable.</li>
                                        <li>Provide custom built, intuitive industry tested tools to achieve data security for governance and regulatory needs.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="blog-post-tile">
                            <article class="post-tile">
                                <div class="sticky-label">
                                    <i class="material-icons flash_on"></i>Sticky Post
                                </div>
                                <div class="post-thumb">
                                    <img alt="" src="/assets/img/cv/big-data/predictive-analytics.jpg">
                                </div>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        Predictive Analytics Solutions
                                    </h3>

                                    <p class="text-gray">
                                        Acquire the highest value customers across channels
                                    </p>

                                    <ul>
                                        <li>Predictive modeling using data mining techniques that read high volume of data from past and present to predict future indicators</li>
                                        <li>Clean data pipeline for analytical and data visualization tools</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="blog-post-tile">
                            <article class="post-tile">
                                <div class="sticky-label">
                                    <i class="material-icons flash_on"></i>Sticky Post
                                </div>
                                <div class="post-thumb">
                                    <img alt="" src="/assets/img/cv/big-data/data-driven.jpg">
                                </div>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        Data Driven <br/>Insights
                                    </h3>

                                    <p class="text-gray">
                                        Help customers gain faster insight from data analytics
                                    </p>

                                    <ul>
                                        <li>Customized data-driven solutions based on business needs</li>
                                        <li>Make faster and better decisions by using ALL your data</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="fw-section layout-full section-no-gap">
            <div class="container-fluid">
                <hr class="hr-solid hr-primary" style="border-top-width: 1px; opacity: 0.25;">
            </div>
        </section>

        <section class="fw-section padding-top-3x padding-bottom-1x">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2 class=" text-dark text-left">
                            Our Value Proposition
                            <br>
                            <small class="h4">What We Offer</small>
                        </h2>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="icon-box icon-box-horizontal icon-box-dark icon-box-type-image bg-no icon-left">
                            <div class="icon-box-icon">
                                <img alt="" src="/assets/img/cv/big-data/support.svg">
                            </div>

                            <div class="icon-box-info-wrap">
                                <h3 class="icon-box-title">
                                    24/7 Support
                                </h3>

                                <div class="icon-box-description">
                                    <p>
                                        <span class="text-gray" style="display: block; margin-bottom: -17px;">Provide quick scalability and 24/7 support and delivery</span>
                                    </p>

                                    <!--<p>
                                        <a class="btn btn-sm btn-primary btn-link" href="#" style="padding: 0;">Learn More <i class="material-icons trending_flat"></i></a>
                                    </p>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="icon-box icon-box-horizontal icon-box-dark icon-box-type-image bg-no icon-left">
                            <div class="icon-box-icon">
                                <img alt="" src="/assets/img/cv/big-data/global-delivery.svg">
                            </div>

                            <div class="icon-box-info-wrap">
                                <h3 class="icon-box-title">
                                    Global Delivery Model
                                </h3>

                                <div class="icon-box-description">
                                    <p>
                                        <span class="text-gray" style="display: block; margin-bottom: -17px;">Use a global delivery model for data engineering and managed services</span>
                                    </p>

                                    <!--<p>
                                        <a class="btn btn-sm btn-primary btn-link" href="#" style="padding: 0;">Learn More <i class="material-icons trending_flat"></i></a>
                                    </p>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="icon-box icon-box-horizontal icon-box-dark icon-box-type-image bg-no icon-left">
                            <div class="icon-box-icon">
                                <img alt="" src="/assets/img/cv/big-data/recognized-partner.svg">
                            </div>

                            <div class="icon-box-info-wrap">
                                <h3 class="icon-box-title">
                                    Recognized Partner
                                </h3>

                                <div class="icon-box-description">
                                    <p>
                                        <span class="text-gray" style="display: block; margin-bottom: -17px;">Preferred partner with the leading global Hadoop platform players</span>
                                    </p>

                                    <!--<p>
                                        <a class="btn btn-sm btn-primary btn-link" href="#" style="padding: 0;">Learn More <i class="material-icons trending_flat"></i></a>
                                    </p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section class="fw-section layout-full-equal section-no-gap">
            <div class="container-fluid">
                <div class="row">
                    <a class="no-style-links col-lg-6 col-md-6 col-sm-12 hidden-sm hidden-xs split-image padding-top-4x padding-bottom-3x text-center"
                       href="/services/product-design-prism"
                         style="background-image: url(/assets/img/cv/manage-services/hero-services-manage-services.png)">
                        <h2 class="block-title text-light text-center">
                            Product Design <br/> Services
                        </h2>
                    </a>

                    <a class="no-style-links col-lg-6 col-md-6 col-sm-12 hidden-sm hidden-xs split-image padding-top-4x padding-bottom-3x text-center"
                       href="/services/managed-services/"
                         style="background-image: url(/assets/img/cv/enterprise-dev/hero-services-enterprise-dev.png)">
                        <h2 class="block-title text-light text-center">
                            Insight - Managed Services <br/> for Hadoop
                        </h2>
                    </a>
                </div>
            </div>
        </section> -->
    </article>

    <!-- Common Footer -->
    {{ partial "sections/footer.html" . }}
</main>

<a class="scroll-to-top-btn" href="#"><i class="material-icons keyboard_arrow_up"></i></a>
<div class="site-backdrop"></div>

<!-- JS -->
{{ partial "sections/js.html" . }}
</body>
</html>