<!DOCTYPE html>
<html lang="en-US">

<!-- Head -->
{{ partial "sections/head.html" . }}

<body>

<main>

	<!-- It Is Preloader Markup -->
	<div class="loading-screen">
		<div class="spinner-wrap">
			<div class="spinner" id="spinner_one"></div>
			<div class="spinner" id="spinner_two"></div>
			<div class="spinner" id="spinner_three"></div>
			<div class="spinner" id="spinner_four"></div>
		</div>
	</div>

	<!-- Off Canvas Sidebar Mobile -->
	{{ partial "sections/offcanvas-sidebar-mobile.html" .}}

	<!-- Header -->
	{{ partial "sections/header.html" .}}

	<div class="page-title title-size-xl text-light bg-parallax" data-parallax-speed="0.4" data-parallax-type="scroll"
		 style="background-image: url(/assets/img/cv/company/hero-company.png);">
		<!--<span class="overlay" style="background-color: #000000; opacity: 0.45;"></span>-->

		<div class="container">
			<div class="inner">
				<div class="column">
					<h3>
						About Us
					</h3>
				</div>
			</div>
		</div>
	</div>

	<article class="page">
		<section class="fw-section padding-top-3x padding-bottom-2x">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-sm-5 padding-right-1x" style="padding-right: 30px;">
						<div class="cv-box cv-tertiary-bg" style="background-size:cover; background-image:url(''); ">
							<div class="cv-box-container">
								<span class="text-light">Our Mission</span>
								<span class="cv-underline"></span>
								<h2 class="text-light">To be the most reliable and efficient Big Data Analytics partner in the Hadoop Ecosystem.
								</h2>
							</div>
						</div>
					</div>

					<div class="col-lg-7 col-md-7 col-sm-6">
						<h2 class="block-title text-dark text-left">
							Clairvoyant<small class="h4">Passionate About Technology</small>
						</h2>

						<div class="text-block">
							<p>
								<span class="text-gray">Clairvoyant is a global technology consulting and services company.
									We help organizations build innovative products and solutions using big data, analytics, and the cloud. <br/><br/>
									We provide the best-in-class solutions and services that leverage big data and continually exceed client expectations.
									Our deep vertical knowledge combined with expertise on multiple, enterprise-grade big data platforms helps support purpose-built solutions to meet our client’s business needs.<br/><br/>
									Our global team consists of experienced professionals, with backgrounds in design, software engineering, analytics, and data science.
									Each member of our team is highly energetic and committed to helping our clients achieve their goals.</span>
							</p>
						</div>

						<div class="padding-bottom-2x hidden-xs"></div>
					</div>

				</div>
			</div>
		</section>

		<section class="fw-section padding-top-2x padding-bottom-2x" style="background-color: #f5f5f5;">
			<div class="container">
				<h4 class="block-title text-dark text-left mobile-center">
					Executive Team
				</h4>

				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="teammate teammate-dark-skin teammate-horizontal teammate-circle teammate-gray">
							<div class="teammate-thumb">
								<img alt="" src="/assets/img/cv/company/chandra.jpg">
								<div class="social-bar sb-square text-right">
									<a class="social-btn social-btn-bio waves-effect waves-light" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/chandraambadipudi/" title="" target="_blank" data-original-title="Linkedin"><i class="socicon-linkedin"></i></a>
								</div>
							</div>

							<div class="teammate-info-wrap">
								<h3 class="teammate-name">
									Chandra Ambadipudi
								</h3>
								<h4 class="teammate-info">Chief Executive Officer</h4>
								<span class="teammate-info">Chandra co-founded Clairvoyant in 2012 and has driven the company to become a leading data science and engineering company with multiple Fortune 500 customers today. He is a highly-motivated senior leader in software engineering with a proven track record of delivery. He also co-founded BlueCanary Data, a predictive analytics product company focused on higher education, and led it through a successful acquisition in 2015.</span>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4">
						<div class="teammate teammate-dark-skin teammate-horizontal teammate-circle teammate-gray">
							<div class="teammate-thumb">
								<img alt="" src="/assets/img/cv/company/shekhar.jpg">
								<div class="social-bar sb-square text-right">
									<a class="social-btn social-btn-bio waves-effect waves-light" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/shekharvemuri/" title="" target="_blank" data-original-title="Linkedin"><i class="socicon-linkedin"></i></a>
								</div>
							</div>

							<div class="teammate-info-wrap">
								<h3 class="teammate-name">
									Shekhar Vemuri
								</h3>
								<h4 class="teammate-info">Chief Technology Officer</h4>
								<span class="teammate-info">Shekhar is a passionate technologist with a drive to solve large-scale and complex problems. He has the ability to get into minute details while implementing solutions. At the same time, Shekhar has a holistic approach to architecting large-scale systems and product lines. With years of experience in data and enterprise platforms, he has the expertise to design and implement big data ecosystems that solve real business problems.</span>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4">
						<div class="teammate teammate-dark-skin teammate-horizontal teammate-circle teammate-gray">
							<div class="teammate-thumb">
								<img alt="" src="/assets/img/cv/company/pankaj.jpg">
								<div class="social-bar sb-square text-right">
									<a class="social-btn social-btn-bio waves-effect waves-light" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/pankaj-gaddam-8203a01/" title="" target="_blank" data-original-title="Linkedin"><i class="socicon-linkedin"></i></a>
								</div>
							</div>

							<div class="teammate-info-wrap">
								<h3 class="teammate-name">
									Pankaj Gaddam
								</h3>
								<h4 class="teammate-info">Chief Operating Officer</h4>
								<span class="teammate-info">With over 15 years of experience in technology with leading companies across the US, Pankaj has significant expertise in solving critical business issues leveraging multiple technology platforms. Pankaj ensures that Clairvoyant’s delivery organization is operating smoothly and providing excellent service to Clairvoyant’s clients. He has been instrumental in creating significant innovations and standardizing the Clairvoyant operation to deliver great customer experiences.</span>
							</div>
						</div>
					</div>


				</div>

				<div class="row">
					<!--Commenting Avinash and Vikram-->
					<!--<div class="col-lg-4 col-md-4">-->
						<!--<div class="teammate teammate-dark-skin teammate-horizontal teammate-circle teammate-gray">-->
							<!--<div class="teammate-thumb">-->
								<!--<img alt="" src="/assets/img/cv/company/avinash.png">-->
								<!--<div class="social-bar sb-square text-right">-->
									<!--<a class="social-btn social-btn-bio waves-effect waves-light" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/avinashramineni/" title="" target="_blank" data-original-title="Linkedin"><i class="socicon-linkedin"></i></a>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="teammate-info-wrap">-->
								<!--<h3 class="teammate-name">-->
									<!--Avinash Ramineni-->
								<!--</h3>-->
								<!--<h4 class="teammate-info">Principal</h4>-->
								<!--<span class="teammate-info">Avinash is a driven technologist who works to understand the bigger picture and convert that into pragmatic, implementable solutions. Avinash has close to two decades of experience in engineering and architecting systems on a large scale. He specializes in providing solutions in the areas of data platform, data security, cloud, service, and event-driven architectures. Prior to Clairvoyant, Avinash was a principal engineer at Apollo Group, where he was responsible for innovation and technical guidance for all the product development efforts. He earned a master’s degree in computer science from Arizona State University. Avinash is also CTO of Kogni, Clairvoyant’s data security product.</span>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="col-lg-4 col-md-4 col-sm-6">-->
						<!--<div class="teammate teammate-dark-skin teammate-horizontal teammate-circle teammate-gray">-->
							<!--<div class="teammate-thumb">-->
								<!--<img alt="" src="/assets/img/cv/company/vikram.jpg">-->
								<!--<div class="social-bar sb-square text-right">-->
									<!--<a class="social-btn social-btn-bio waves-effect waves-light" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/vikram-bhalchandra-6055b1/" title="" target="_blank" data-original-title="Linkedin"><i class="socicon-linkedin"></i></a>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="teammate-info-wrap">-->
								<!--<h3 class="teammate-name">-->
									<!--Vikram Bhalchandra-->
								<!--</h3>-->
								<!--<h4 class="teammate-info">Sales & Marketing Head</h4>-->
								<!--<span class="teammate-info">Vikram is focused on building the Clairvoyant brand and growing the company’s global footprint across enterprise and big data customers. Vikram is a senior IT executive with more than 22 years of experience with leading companies. He has helped scale businesses like CapGemini, UST Global and Reliance Group around the world.</span>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

					<div class="col-lg-4 col-md-4">
						<div class="teammate teammate-dark-skin teammate-horizontal teammate-circle teammate-gray">
							<div class="teammate-thumb">
								<img alt="" src="/assets/img/cv/company/amita.png">
								<div class="social-bar sb-square text-right">
									<a class="social-btn social-btn-bio waves-effect waves-light" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/amitamirajkar/" title="" target="_blank" data-original-title="Linkedin"><i class="socicon-linkedin"></i></a>
								</div>
							</div>

							<div class="teammate-info-wrap">
								<h3 class="teammate-name">
									Amita Mirajkar
								</h3>
								<h4 class="teammate-info">CEO, Clairvoyant India</h4>
								<span class="teammate-info">Amita is an influential technology leader with close to two decades of experience managing enterprise architecture, front-end, quality engineering, and data platforms. She is responsible for the development and delivery of all programs across the enterprise portfolio of Clairvoyant India. Amita delivers business value through high-quality, scalable solutions. She has been an agile coach, a solutions architect and a product evangelist. Amita holds a master’s degree in management from the University of Phoenix and was a member of the senior management team in the software division of Apollo Group in Phoenix Arizona.</span>
							</div>
						</div>
					</div>
					<!--Pulled Shantanu on top-->
					<div class="col-lg-4 col-md-4">
						<div class="teammate teammate-dark-skin teammate-horizontal teammate-circle teammate-gray">

							<div class="teammate-thumb">
								<img alt="" src="/assets/img/cv/company/shantnu.png">
								<div class="social-bar sb-square text-right">
									<a class="social-btn social-btn-bio waves-effect waves-light" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/shantanumirajkar/" title="" target="_blank" data-original-title="Linkedin"><i class="socicon-linkedin"></i></a>
								</div>
							</div>

							<div class="teammate-info-wrap">
								<h3 class="teammate-name">
									Shantanu Mirajkar
								</h3>
								<h4 class="teammate-info">CTO, Clairvoyant India</h4>
								<span class="teammate-info">Shantanu is a seasoned technology leader with over 16 years of experience in enterprise applications, big data technologies, data science, and analytics. As Co-Founder of Clairvoyant India, he is responsible for all data science and engineering projects that are delivered from India. Shantanu encourages his team to explore new technologies and find creative solutions that benefit each employee as well as Clairvoyant and its clients. Shantanu is an alumnus of University of Phoenix’s MBA program. He also speaks at technical events and organizes the annual Pune Data Conference.</span>
							</div>

						</div>
					</div>
				</div>

				<!--<div class="row">-->
					<!---->
				<!--</div>-->

			</div>
		</section>
	</article>
</main>

<!-- Common Footer -->
{{ partial "sections/footer.html" . }}

<a class="scroll-to-top-btn" href="#"><i class="material-icons keyboard_arrow_up"></i></a>
<div class="site-backdrop"></div>

<!-- JS -->
{{ partial "sections/js.html" . }}
</body>
</html>