<!DOCTYPE html>
<html lang="en-US">

<!-- Head -->
{{ partial "sections/head.html" . }}

<body>

<main>

    <!-- Off Canvas Sidebar Mobile -->
    {{ partial "sections/offcanvas-sidebar-mobile.html" .}}

    <!-- Header -->
    {{ partial "sections/header.html" .}}

    <div class="page-title title-size-xl text-light bg-parallax" data-parallax-speed="0.4" data-parallax-type="scroll"
         style="background-image: url(/assets/img/cv/enterprise-dev/hero-services-enterprise-dev.png);">
        <span class="overlay" style="background-color: #000000; opacity: 0.12;"></span>

        <div class="container">
            <div class="inner">
                <div class="column">
                    <div class="icon-box-icon pull-left">
                        <img alt="" src="/assets/img/cv/enterprise-dev/enterprisedev-icon.svg" width="55" style="margin-right: 20px;">
                    </div>
                    <h3>
                        Enterprise Development
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <article class="page">
        <section class="fw-section padding-top-3x padding-bottom-4x"  style="background-color: #f5f5f5;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 text-center">
                        <img alt="" src="/assets/img/cv/enterprise-dev/enterprise-dev-graphic.png">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 padding-top-1x">
                        <h2 class="block-title text-dark text-left">
                            Enterprise Consulting
                            <small class="h4">Use our experience to achieve your goals</small>
                        </h2>

                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-sm-12">
                                <div class="text-block">
                                    <p>
                                        <span class="text-gray">We provide a comprehensive skill set to integrate your big data solutions into the fabric of your business. We know from experience that great ideas need diligent planning and execution to succeed.</span>
                                    </p>

                                    <p>
                                        <span class="text-gray">Whether you need help designing your solution from the start, or just need burst capacity until the project is delivered, we can help. We build a team with just the right blend of skills for each project, and we stay focused on the success of your project.</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top-2x">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="icon-box icon-box-horizontal icon-box-dark icon-box-type-image bg-no icon-left">
                                    <div class="icon-box-icon">
                                        <img alt="" src="/assets/img/cv/enterprise-dev/build-infrastructure.svg">
                                    </div>

                                    <div class="icon-box-info-wrap">
                                        <h3 class="icon-box-title">
                                            Strategy and Vision
                                        </h3>

                                        <div class="icon-box-description">
                                            <p>
                                                <span class="text-gray">We can help you refine your strategy to turn a great idea into a successful program.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="icon-box icon-box-horizontal icon-box-dark icon-box-type-image bg-no icon-left">
                                    <div class="icon-box-icon">
                                        <img alt="" src="/assets/img/cv/enterprise-dev/automated-testing.svg">
                                    </div>

                                    <div class="icon-box-info-wrap">
                                        <h3 class="icon-box-title">
                                            Implementation and Support
                                        </h3>

                                        <div class="icon-box-description">
                                            <p>
                                                <span class="text-gray">Our team delivers high quality software and works with you to blend it seamlessly into your technology environment.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top-2x">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <a class="btn btn-rounded btn-primary btn-pill btn-nl btn-block waves-effect waves-light" href="/contact">Start your project today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="fw-section padding-top-3x">
            <div class="container">
                <h2 class="block-title text-dark text-left">
                    Our Services<small class="h4">These are just some of the capabilities we can bring to your environment</small>
                </h2>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="blog-post-tile">
                            <article class="post-tile">
                                <div class="sticky-label">
                                    <i class="material-icons flash_on"></i>Sticky Post
                                </div>
                                <div class="post-thumb">
                                    <img alt="" src="/assets/img/cv/enterprise-dev/application-development.png">
                                </div>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        Application Development
                                    </h3>

	                                <p class="text-gray">
	                                    If you can describe it, we can build it.
	                                </p>

	                                <ul>
	                                    <li>Our experts have experience in a range of technologies to build custom applications that meet your unique needs.</li>
	                                <li>We work closely with your stakeholders to understand your goals and challenges. We deliver rapidly and take continuous feedback to get the best software on the shortest timeline.</li>
								</ul>
	                            </div>
	                        </article>
	                    </div>
	                </div>
	                <div class="col-sm-4">
	                    <div class="blog-post-tile">
	                        <article class="post-tile">
	                            <div class="sticky-label">
	                                <i class="material-icons flash_on"></i>Sticky Post
	                            </div>
	                            <div class="post-thumb">
	                                <img alt="" src="/assets/img/cv/enterprise-dev/testing-services.png">
	                            </div>
	                            <div class="post-body">
	                                <h3 class="post-title">
	                                    Testing Services
	                                </h3>

	                                <p class="text-gray">
	                                    If you've already built it, we can help you make it better.
	                                </p>

	                                <ul>
	                                    <li>The sheer scale of your data can make it difficult to determine whether your applications are giving you accurate answers.</li>
										<li>We can help with analytics so your systems are constantly monitoring themselves for accuracy and reliability.</li>
	                                    <li>Our automated testing practice lets you move with confidence, knowing that new changes aren't breaking other features.</li>
	                                </ul>
	                            </div>
	                        </article>
	                    </div>
	                </div>
	                <div class="col-sm-4">
	                    <div class="blog-post-tile">
	                        <article class="post-tile">
	                            <div class="sticky-label">
	                                <i class="material-icons flash_on"></i>Sticky Post
	                            </div>
	                            <div class="post-thumb">
	                                <img alt="" src="/assets/img/cv/enterprise-dev/transformation-services.png">
	                            </div>
	                            <div class="post-body">
	                                <h3 class="post-title">
	                                    Transformation Services
	                                </h3>

	                                <p class="text-gray">
	                                    Once the software is all working, it needs the right data.
	                                </p>

	                                <ul>
	                                    <li>We help customers unlock their data and make it useful.</li>
	                                    <li>Our systems integrators have the experience and tools to merge data from heterogenous sounces into a pipeline that can feed your big data engine.</li>
	                                    </ul>
	                            </div>
	                        </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="fw-section layout-full section-no-gap">
            <div class="container-fluid">
                <hr class="hr-solid hr-primary" style="border-top-width: 1px; opacity: 0.25;">
            </div>
        </section>

        <section class="fw-section padding-top-3x padding-bottom-1x">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h2 class="text-dark text-left padding-top-4x">
                            Why Clairvoyant?<small class="h4">Our value proposition</small>
                        </h2>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="icon-box icon-box-horizontal icon-box-dark icon-box-type-image bg-no icon-left">
                            <div class="icon-box-icon">
                                <img alt="" src="/assets/img/cv/enterprise-dev/efficiency.svg">
                            </div>

                            <div class="icon-box-info-wrap">
                                <h3 class="icon-box-title">
                                    Quality and Efficiency
                                </h3>

                                <div class="icon-box-description">
                                    <p>
                                        <span class="text-gray" style="display: block; margin-bottom: -17px;">We understand that your solution can't deliver value until it hits production. We get it there rapidly and with high quality the first time.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="icon-box icon-box-horizontal icon-box-dark icon-box-type-image bg-no icon-left">
                            <div class="icon-box-icon">
                                <img alt="" src="/assets/img/cv/enterprise-dev/experts.svg">
                            </div>

                            <div class="icon-box-info-wrap">
                                <h3 class="icon-box-title">
                                    Industry Experts
                                </h3>

                                <div class="icon-box-description">
                                    <p>
                                        <span class="text-gray" style="display: block; margin-bottom: -17px;">We have consultants with industry-leading expertise an a range of technologies to help you modernize your infrastructure. New technologies are constantly emerging, but nobody needs all of them at once. Work with us to adopt what works and skip the expensive learning curve.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="icon-box icon-box-horizontal icon-box-dark icon-box-type-image bg-no icon-left">
                            <div class="icon-box-icon">
                                <img alt="" src="/assets/img/cv/enterprise-dev/reduced-risk.svg">
                            </div>

                            <div class="icon-box-info-wrap">
                                <h3 class="icon-box-title">
                                    Reduced Risk
                                </h3>

                                <div class="icon-box-description">
                                    <p>
                                        <span class="text-gray" style="display: block; margin-bottom: -17px;">Guard your data with confidence using our suite of tools. We can handle encryption, masking, anonymization, and sampling to meet your goals without undue risk.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section class="fw-section layout-full-equal section-no-gap">
            <div class="container-fluid">
                <div class="row">
                    <a class="no-style-links col-lg-6 col-md-6 col-sm-12 hidden-sm hidden-xs split-image padding-top-4x padding-bottom-3x text-center"
                       href="/services/product-design-prism"
                       style="background-image: url(/assets/img/cv/design/hero-services-design.png)">

                        <h2 class="block-title text-light text-center">
                            Insight - Managed Services <br/> for Hadoop
                        </h2>
                    </a>

                    <a class="no-style-links col-lg-6 col-md-6 col-sm-12 hidden-sm hidden-xs split-image padding-top-4x padding-bottom-3x text-center"
                       href="/services/product-design-prism"
                       style="background-image: url(/assets/img/cv/big-data/hero-services-big-data.png)">
                        <h2 class="block-title text-light text-center">
                            Product Design <br/> Services
                        </h2>
                    </a>
                </div>
            </div>
        </section> -->
    </article>

    <!-- Common Footer -->
    {{ partial "sections/footer.html" . }}
</main>

<a class="scroll-to-top-btn" href="#"><i class="material-icons keyboard_arrow_up"></i></a>
<div class="site-backdrop"></div>

<!-- JS -->
{{ partial "sections/js.html" . }}
</body>
</html>