<div class="gray-section">
    <div class="container">
        <h2>Managed Services</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <strong>300+</strong> consequat. Lorem ipsum dolor <span style="color:#EA7924">moved</span>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <h3 class="text-center">FAQ</h3>
        <div class="faq-wrap">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="faq-header">
                    Lorem ipsum dolor sit amet
                    <span>+</span>
                </div>
            </a>
            <div class="collapse" id="collapseExample">
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </p>
            </div>
        </div>
        <div class="faq-wrap">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="faq-header">
                    Lorem ipsum dolor sit amet
                    <span>+</span>
                </div>
            </a>
            <div class="collapse" id="collapseExample">
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </p>
            </div>
        </div>
        <div class="faq-wrap">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="faq-header">
                    Lorem ipsum dolor sit amet
                    <span>+</span>
                </div>
            </a>
            <div class="collapse" id="collapseExample">
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </p>
            </div>
        </div>
        <div class="faq-wrap">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="faq-header">
                    Lorem ipsum dolor sit amet
                    <span>+</span>
                </div>
            </a>
            <div class="collapse" id="collapseExample">
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </p>
            </div>
        </div>
        <div class="cards-grid">
            <div class="solution-card">
                <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                <h5>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </h5>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </li>
                </ul>
            </div>
            <div class="solution-card">
                <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                <h5>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </h5>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </li>
                </ul>
            </div>
            <div class="solution-card">
                <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                <h5>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </h5>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-2 text-center">
                <img class="image-card" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                <p>Lorem ipsum</p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 text-center">
                <img class="image-card" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                <p>Lorem ipsum</p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 text-center">
                <img class="image-card" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                <p>Lorem ipsum</p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 text-center">
                <img class="image-card" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                <p>Lorem ipsum</p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 text-center">
                <img class="image-card" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                <p>Lorem ipsum</p>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 text-center">
                <img class="image-card" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                <p>Lorem ipsum</p>
            </div>
        </div>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, </p>
    </div>
</div>