<section class="fw-section bg-parallax padding-top-3x" data-parallax-speed="0.4" data-parallax-type="scroll">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>

            <div class="col-lg-10 col-md-10 ">
                <div class="call-to-action desktop">
                    <div>
                        <h2 class="text-white">Interested In Transforming Your Business Using Data?</h2>
                        <h5>Shoot us an email or give us a call and let’s get the conversation started!</h5>
                    </div>
                    <a class="btn btn-pill buttonf" href="/contact">Contact Us</a>
                </div>

                <div class="call-to-action mobile">
                    <h2 class="text-white">Interested in transforming your business using Data?</h2>
                    <a class="btn btn-pill buttonf" href="/contact">Contact Us</a>
                    <h5>Shoot us an email or give us a call and let’s get the conversation started!</h5>
                </div>
            </div>
            
            <div class="col-md-1 col-sm-1"></div>
        </div>
    </div>
</section>