<section class="fw-section text-center background-gray">
    <div class="container">
        <h3 class="text-dark">Featured Clients</h3>
        <div class="clientimgs" >
            <img src="assets/img/cv/clients/GCU.png">
            <img src="assets/img/cv/clients/Blackboard.png">
            <img src="assets/img/cv/clients/Az-department.png">
            <img src="assets/img/cv/clients/Oversite.png">
            <img src="assets/img/cv/clients/Apollo.png">
            <img src="assets/img/cv/clients/uv-labs.png">
            <img src="assets/img/cv/clients/copilot.png">
            <img src="assets/img/cv/clients/Early-warning.png">
            <img src="assets/img/cv/clients/Altisource.png">
            <img src="assets/img/cv/clients/Amex-copy.png">
            <img src="assets/img/cv/clients/Bidtellec.png">
            <img src="assets/img/cv/clients/Everspring.png">
        </div>
    </div>
</section>