<section class="fw-section layout-full">
    <div class="container">
        <div class="row col-lg-12 col-md-12 col-sm-12">
            <div class="block-title text-center">
                <h2>Our Special Tools</h2>
                <h3>We’ve built some great products in the past and we continue to innovate the world of big data with useful and powerful tools</h3>
            </div>
        </div>

        <div class="row bottom-extra">
            <div class="col-lg-5 col-md-5 col-sm-12 padding-top-6x div-padding-right">
                <h2>Insight</h2>
                <h5>We provide a comprehensive set of Hadoop administration and support services so you can skip the expensive learning curve, reduce ramp-up time, ensure high availability and reliability for your mission critical solutions.</h5>
                <div class="margin-top-1x">
                    <a class="btn btn-pill button0" href="/services/managed-services/">LEARN MORE</a>
                </div>
            </div>


            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="row">
                    <div class="feature__header col-lg-7 col-md-7 col-sm-9">
                        <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2 nopadding">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle icon-background-outer fa-stack-2x"></i>
                                    <i class="fa fa-check-circle fa-stack-1x"></i>
                                </span>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10 nopadding">
                            <h5 class="text-gray-dark"><b>Hadoop Managed Services</b></h5>
                            <p>Managed solutions for the world’s most popular data management framework</p>
                        </div>
                    </div>

                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 nopadding">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle icon-background-outer fa-stack-2x"></i>
                                    <i class="fa fa-check-circle fa-stack-1x"></i>
                                </span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10 nopadding">
                                <h5 class="text-gray-dark"><b>Value Added Services</b></h5>
                                <p>Obtain, process and store data with the Apache™ Hadoop platform</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 nopadding">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-check-circle fa-stack-1x"></i>
                                </span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10 nopadding">
                                <h5 class="text-gray-dark"><b>Accelerate Time-to-Value</b></h5>
                                <p>Experience Clairvoyant’s Value Proposition</p>
                            </div>
                        </div>
                    </div>
                </div>

                <img class="imgoverdivright" style="width: 100%; " src="/assets/img/cv/insight.png" alt="">
            </div>
        </div>

    </div>
</section>