<section class="fw-section layout-full padding-top-18x padding-bottom-1x">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 desktoponly">
                <img class="imgoverdivleft" src="/assets/img/cv/kogni-back.png" alt="kogni-back.png">
                <img class="margin-top--4x" src="/assets/img/cv/kogni-front.png" alt="kogni-front.png">
            </div>

            <div class="col-lg-6 col-md-5 col-sm-9 div-padding-left">
                <div class="padding-top-2x visible-lg"></div>
                <div class="padding-top-1x visible-md"></div>
                <div class="padding-top-6x visible-sm visible-xs"></div>

                <h2>Kogni - Enterprise Data Security</h2>
                    <h5>As big data, analytics and cloud transform the way today's enterprises implement technology solutions, Kogni provides your compliance, audit and security teams the ability to identify and secure at risk data across your data landscape. SQL, NoSQL, Hadoop. A single, central dashboard to manage your sensitive data.</h5>
                <ul>
                    <li>•&nbsp;&nbsp;Scans enterprise datasources for sensitive data stored in text and images</li>
                    <li>•&nbsp;&nbsp;Secures sensitive data in Hadoop / Data Lake as it gets ingested.</li>
                    <li>•&nbsp;&nbsp;Continuously monitors data sources, and alerts in case of policy violations.</li>
                </ul>
                <div>
                    <a class="btn btn-pill button0" href="http://www.kogni.io/">LEARN MORE</a>
                </div>
            </div>

            <div class="col-sm-12 mobileonly margin-top-1x">
                <img src="/assets/img/cv/kogni-all.png" alt="kogni-all.png">
            </div>
        </div>
    </div>
</section>