<div class="home-hero">
    <div class="container">
        <div class="row header-container">
            <h1 class="header-container__title">We power Digital Disruption</h1>
            <h3 class="header-container__subheading">Transforming businesses with Big Data, Cloud, Design Thinking, and Lean Architectures</h3>
        </div>
        <div class="row">
            {{ partial "news/single.html" . }}
        </div>
    </div>
    <a class="scroll-to-top-btn" href="#"><i class="material-icons keyboard_arrow_up"></i></a>
</div>