<section data-parallax-speed="0.4" data-parallax-type="scroll"> <!-- what is data-parallax??-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="block-title text-center">
                    <h2>How Clairvoyant Helps You
                        <h2>Clairvoyant has the tools and services to bring your business into the world of Big Data.</h2>
                    </h2>
                </div>
            </div>
        </div>
        <div class="help-row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="text-center">
                    <img class="card-image" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                    <h5>CLOUD</h5>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="text-center">
                    <img class="card-image" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                    <h5>ARTIFICIAL INTELLIGENCE</h5>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="text-center">
                    <img class="card-image" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                    <h5>MACHINE LEARNING</h5>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="text-center">
                    <img class="card-image" src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
                    <h5>ANALYTICS</h5>
                </div>
            </div>
        </div>
        <div class="row help-row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h2>
                    Data Engineering
                </h2>
                <p>All analytics and insights need a solid data foundation. We build agile and secure data platforms that harmonize your disparate data, increase confidence in it's quality and power your analytical needs. We reduce the friction associated with getting reliable, at the right time, to the right audience, in a unable form.</p>
                <a class="btn min-width:769pxbutton1" href="/services/big-data-analytics/">
                    Read More &#8594;
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
            </div>
        </div>

        <div class="row help-row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h2>
                    DataOps 
                </h2>
                <p>The best of solutions are not effective if the systems powering them are unreliable, or difficult to manage. We take the complex job of building, configuring, monitoring and managing your infrastructure so that you can focus on driving value for your business. Our round the clock services and proactive support and monitoring gives you the confidence to power your mission ...</p>
                <a class="btn min-width:769pxbutton2" href="/services/managed-services/">
                    Read More &#8594;
                </a>
            </div>
        </div>

        <div class="row help-row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h2>
                        AI
                </h2>
                <p>We bring our expertise in engineering scalable and automated systems to your advanced analytics needs and sped up your journey towards embedding intelligence into every business process within your organization. We craft analytics platforms that optimize the entire journey, from exploratory data analytics to model retraining and calibration.</p>
                <a class="btn  min-width:769pxbutton3" href="/services/enterprise-development/">
                    Read More &#8594;
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
            </div>
        </div>

        <div class="row help-row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <img src="/assets/img/cv/big-data/big-data-graphic-transparent.png" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h2>
                    Cloud
                </h2>
                <p>Whether it is data platforms or systems of engagement, we go beyond just porting or lifting and shifting to the cloud. We power you along your digital transformation journey by engineering scalable, elastic and cloud native solutions that provide you the right flexibility and agility. We go further and ensure that this agility is not limiting your ability to control costs and ...</p>
                <a class="btn min-width:769pxbutton4" href="/services/product-design-prism/">
                    Read More &#8594;
                </a>
            </div>
        </div>
    </div>       

</section>