<!-- Scripts section -->
<!-- **************************************************************************************************************************** -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<script src="/assets/js/vendor/bxslider-custom/dist/jquery.bxslider.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.js">\x3C/script>')</script>

<script type='text/javascript' src='/assets/js/vendor/aos.min.js'></script>
<script type='text/javascript' src='/assets/js/vendor/jquery.waypoints.min.js'></script>
<script type='text/javascript' src='/assets/js/vendor/bootstrap.min.js'></script>
<script type='text/javascript' src='/assets/js/vendor/jarallax.min.js'></script>
<script type='text/javascript' src='/assets/js/vendor/velocity.min.js'></script>
<script type='text/javascript' src='/assets/js/vendor/waves.min.js'></script>
<script type='text/javascript' src='/assets/js/vendor/scrollspy.js'></script>
<script type='text/javascript' src='/assets/js/vendor/slick.min.js'></script>
<script type='text/javascript' src='/assets/js/vendor/isotope.pkgd.min.js'></script>
<script type='text/javascript' src='/assets/js/vendor/counterup.min.js'></script>
<script type='text/javascript' src='/assets/js/vendor/jquery.magnific-popup.min.js'></script>
<script type='text/javascript' src='/assets/js/vendor/handlebars.js'></script>

<!-- *************************************************************************************** -->
<!-- Vendor Script Section -->
<script type="text/javascript" src="/assets/js/vendor/revo/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/revo/jquery.themepunch.revolution.min.js"></script>
<!-- Vendor Script Section END-->
<!-- *************************************************************************************** -->
<script type='text/javascript' src='/assets/js/contact-us.js'></script>
<script type='text/javascript' src='/assets/js/cv.js'></script>
<script type='text/javascript' src='/assets/js/hero-carousel.js'></script>
<script type='text/javascript' src='/assets/js/managed-service-carousel.js'></script>
<script type='text/javascript' src='/assets/js/eventsData.js'></script>
<script defer type='text/javascript' src='/assets/js/homeEvents.js'></script>

<!--<script type="application/javascript">-->
    <!--$("ul li a").click(function () {-->
        <!--alert("hello");-->
        <!--$('li a').removeClass("currentPage");-->
        <!--$(this).addClass("currentPage");-->
    <!--});-->

    <!--$(document).ready(function() {-->
        <!--$("nav > ul > li").mouseover(function() {-->
            <!--var the_width = $(this).find("a").width();-->
            <!--var child_width = $(this).find("ul").width();-->
            <!--var width = parseInt((child_width - the_width)/2);-->
            <!--$(this).find("ul").css('left', -width);-->
        <!--});-->
    <!--});-->
<!--</script>-->

<!-- **************************************************************************************************************************** -->
<!-- Scripts section END -->