<!-- Offcanvas Sidebar Mobile Menu -->
<aside class="off-canvas-menu">
    <span class="close-btn"><i class="material-icons clear"></i></span>

    <!-- Main navigation -->
    <!-- Visible only on mobile -->
    <nav class="vertical-navigation">
        <ul class="menu">
            <li class="menu-item">
                <a href="/index.html"><span class="cv-mobile-menu">Home</span><span class="arrow"><i
                        class="material-icons keyboard_arrow_down"></i></span></a>
            </li>

            <li class="menu-item has-mega-menu">
                <a href="#"><span class="cv-mobile-menu">Services</span><span class="arrow"><i class="material-icons keyboard_arrow_down"></i></span></a>

                <div class="mega-menu">
                    <div class="mega-menu-inner">
                        <section class="widget widget_nav_menu">

                            <div class="menu-solutions-custom-container">
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/services/big-data-analytics/">Big Data & Analytics</a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/services/enterprise-development/">Enterprise Development</a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/services/managed-services/">Managed Services</a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="/services/product-design-prism">Product Design</a>
                                    </li>

                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </li>

            <li class="menu-item">
                <a href="/clients">
                    <span class="cv-mobile-menu">Clients</span><span class="arrow"><i
                        class="material-icons keyboard_arrow_down"></i></span></a>
            </li>

            <li class="menu-item has-mega-menu">
                <a href="#"><span class="cv-mobile-menu">Resources</span><span class="arrow"><i class="material-icons keyboard_arrow_down"></i></span></a>

                <div class="mega-menu">
                    <div class="mega-menu-inner">
                        <section class="widget widget_nav_menu">
                            <div class="menu-solutions-custom-container">
                                <ul class="menu">
                                    <!-- <li class="menu-item">
                                        <a href="/confluence-mumbai">CMO Event - Mumbai</a>
                                    </li> -->
                                    <!-- <li class="menu-item">
                                        <a href="/confluence">
                                            <span class="cv-mobile-menu">
                                                CMO Event - Bengaluru
                                            </span></a>
                                    </li> -->
                                    <li class="menu-item">
                                        <a href="/resources">
                                            <span class="cv-mobile-menu">
                                                Free Resources
                                            </span></a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </li>

            <li class="menu-item">
                <a href="https://medium.com/clairvoyantblog">
                    <span class="cv-mobile-menu">Blog</span><span class="arrow"><i
                        class="material-icons keyboard_arrow_down"></i></span></a>
            </li>

            <li class="menu-item has-mega-menu">
                <a href="#"><span class="cv-mobile-menu">Company</span><span class="arrow"><i class="material-icons keyboard_arrow_down"></i></span></a>

                <div class="mega-menu">
                    <div class="mega-menu-inner">
                        <section class="widget widget_nav_menu">

                            <div class="menu-solutions-custom-container">
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/company"><span class="cv-mobile-menu">
                                            About
                                        </span></a>
                                    </li>

                                    <li class="menu-item">
                                            <a href="/announcement"><span class="cv-mobile-menu">
                                                Announcements
                                            </span></a>
                                        </li>

                                    <li class="menu-item">
                                        <a href="/awards"><span class="cv-mobile-menu">
                                            Awards
                                        </span></a>
                                    </li>


                                    <li class="menu-item">
                                        <a href="/careers"><span class="cv-mobile-menu">
                                            Careers
                                        </span></a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </li>
            <div class="header-buttons">
                <a class="btn btn-pill button0" href="/contact" style="padding: 8px 12.5px 8px 12.5px;">Contact Us</a>
            </div>
        </ul>
    </nav><!-- Main navigation END -->
</aside><!-- Offcanvas Sidebar Mobile Menu END -->