<!DOCTYPE html>
<html lang="en-US">

<!-- Head -->
{{ partial "sections/head.html" . }}

<body>

    <main>

        <!-- It Is Preloader Markup -->
        <div class="loading-screen">
            <div class="spinner-wrap">
                <div class="spinner" id="spinner_one"></div>
                <div class="spinner" id="spinner_two"></div>
                <div class="spinner" id="spinner_three"></div>
                <div class="spinner" id="spinner_four"></div>
            </div>
        </div>

        <!-- Off Canvas Sidebar Mobile -->
        {{ partial "sections/offcanvas-sidebar-mobile.html" .}}

        <!-- Header -->
        {{ partial "sections/header.html" .}}

        <div class="page-title title-size-xl text-light bg-parallax" data-parallax-speed="0.4" data-parallax-type="scroll" style="background-image: url(/assets/img/cv/announcement/announcement-hero.jpg);">
            <!--<span class="overlay" style="background-color: #000000; opacity: 0.45;"></span>-->

            <div class="container">
                <div class="inner">
                    <div class="column">
                        <h3>
                            {{.Params.header}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="inner">
                <div class="column" style="margin-top: 60px;">
                    <p class="awards-date">
                        {{ $var1 := .Params.read_more_link}}
                        {{dateFormat "January 2, 2006" .Date}}
                        <a href="/announcement" class="awards-info">Annoucement</a>
                    </p>
                    <h1 class="award-sub" style="margin-bottom:20px; font-size:45px; line-height: 50px">
                        {{.Title}}
                    </h1>
                    <!-- <a target="_blank" href="{{$var1}}"><img alt="{{.Title}}" style="max-height: 600px;" src="{{.Params.detail_image}}"></a> -->
                    <h4 class="awards-subhead">

                    </h4>
                    <p class="awards-content" style="max-width:100% !important">
                        {{.Params.content}}
                    </p>
                    <p class="award-detail-content"> {{.Content | safeHTML}} </p>


                    <!-- {{if $var1}}
                <a target="_blank" id="awards-button" href="{{$var1}}" class="btn btn-pill btn-primary btn-nl waves-effect waves-light awards-button">Read More</a>
                {{else}}
                {{end}} -->
                </div>
            </div>
        </div>
        </div>

        <!-- Common Footer -->
        {{ partial "sections/footer.html" . }}
    </main>

    <a class="scroll-to-top-btn" href="#">
        <i class="material-icons keyboard_arrow_up"></i>
    </a>
    <div class="site-backdrop"></div>

    <!-- JS -->
    {{ partial "sections/js.html" . }}
</body>

</html>