<!DOCTYPE html>
<html lang="en-US">

<!-- Head -->
<head>
    <title>Page Not Found - 404</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon Images -->
    <link rel="icon" href="/assets/img/cv/favicon/favicon-32-32.png" />
    <link rel="icon" href="/assets/img/cv/favicon/favicon-192-192.png" />
    <link rel="apple-touch-icon-precomposed" href="/assets/img/cv/favicon/favicon-180-180.png" />
    <meta name="msapplication-TileImage" content="/assets/img/cv/favicon/favicon-270-270.png" />

    <!-- Google Font Import -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">

    <!-- Animation, Icon Fonts, Bootsrap styles -->

    <link rel='stylesheet' href='/assets/stylesheets/vendor/bootstrap.min.css' type='text/css' media='screen' />

    <!-- Main Theme Style -->
    <link rel='stylesheet' href='/assets/stylesheets/theme.css' type='text/css' media='screen' />
</head>

<body id="404Page">

<!-- Off Canvas Sidebar Mobile -->


<div class="container error-container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <img alt="Clairvoyant 404" src="/assets/img/cv/404-img.png">
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-5 error-title">
                <h4>Looks like the page you were trying to find is currently playing hide-and-seek.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="http://www.clairvoyantsoft.com"><img class="back-icon"
                                                              src="/assets/img/basic1-141_arrow_left.png">Go
                    Back
                    to Clairvoyant</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
