<div class=" managed-services-support slick-dot">
    <div class="container">
        <div class="row col-lg-12 col-md-12 col-sm-12">
            <div class="heading-message text-center">
                <h2 class="managed-service-headings">Management services for big data technologies</h2>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 ">
            <div class="logos managed-source-carousel ">
                <div class="logo-box" styel="padding: 30px">
                    <img class="client-logo-img-hadoop"
                         src="/assets/img/cv/manage-services/hadoop/hadoop@1x.png" />
                </div>

                <div class="logo-box">
                    <img class="client-logo-img-kafka "
                    src="/assets/img/cv/manage-services/logo.png" />
                 </div>

                <div class="logo-box">
                    <img class="client-logo-img-apache"
                    src="/assets/img/cv/manage-services/1200px-Apache-nifi-logo.svg.png" />

                </div>

                <div class="logo-box">
                    <img class="client-logo-img-airflow"
                        src="/assets/img/cv/manage-services/feature-image.png" />
                </div>

                <div class="logo-box">
                    <img class="client-logo-img-aws"
                        src="/assets/img/cv/manage-services/AWS@x1.jpg" />
                </div>

                <div class="logo-box">
                    <img class="client-logo-img-azure"
                        src="/assets/img/cv/manage-services/azure@x1.jpg" />	
                </div>

                <div class="logo-box">
                    <img class="client-logo-img-OpenShift"
                        src="/assets/img/cv/manage-services/OpenShift@x1.jpg" />

                </div>

            </div>
        </div>

    </div>

</div>