<!DOCTYPE html>
<html>
<head>
    {{ if in ( printf "%v" .Slug) "installing-and-configuring-apache-airflow" }}
    <title>Clairvoyant Blog</title>
    <link rel="canonical" href="https://medium.com/clairvoyantblog/installing-and-configuring-apache-airflow-619a1df3300f"/>
    <!--<meta name=\"robots\" content=\"noindex\">-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="refresh" content="0; url=https://medium.com/clairvoyantblog/installing-and-configuring-apache-airflow-619a1df3300f"/>
    <h3 style="text-align: center">Redirecting to Clairvoyant's Blog Post</h3>

    {{ else if in ( printf "%v" .Slug) "setting-apache-airflow-cluster" }}
    <title>Clairvoyant Blog</title>
    <link rel="canonical" href="https://medium.com/clairvoyantblog/setting-up-an-apache-airflow-cluster-9b9ad23b75d5"/>
    <!--<meta name=\"robots\" content=\"noindex\">-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="refresh" content="0; url=https://medium.com/clairvoyantblog/setting-up-an-apache-airflow-cluster-9b9ad23b75d5"/>
    <h3 style="text-align: center">Redirecting to Clairvoyant's Blog Post</h3>

    {{ else if in ( printf "%v" .Slug) "understanding-resource-allocation-configurations-spark-application" }}
    <title>Clairvoyant Blog</title>
    <link rel="canonical" href="https://medium.com/clairvoyantblog/understanding-resource-allocation-configurations-for-a-spark-application-781ee0f40083"/>
    <!--<meta name=\"robots\" content=\"noindex\">-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="refresh" content="0; url=https://medium.com/clairvoyantblog/understanding-resource-allocation-configurations-for-a-spark-application-781ee0f40083"/>
    <h3 style="text-align: center">Redirecting to Clairvoyant's Blog Post</h3>

    {{ else if in ( printf "%v" .Slug) "installing-rabbitmq" }}
    <title>Clairvoyant Blog</title>
    <link rel="canonical" href="https://medium.com/clairvoyantblog/installing-rabbitmq-8a9300e38fd2"/>
    <!--<meta name=\"robots\" content=\"noindex\">-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="refresh" content="0; url=https://medium.com/clairvoyantblog/installing-rabbitmq-8a9300e38fd2"/>
    <h3 style="text-align: center">Redirecting to Clairvoyant's Blog Post</h3>

    {{ else if in ( printf "%v" .Slug) "google-api-artificial-intelligent-assistant" }}
    <title>Clairvoyant Blog</title>
    <link rel="canonical" href="https://medium.com/clairvoyantblog/understand-google-api-ai-and-build-artificial-intelligent-assistant-2fac8d64b71a"/>
    <!--<meta name=\"robots\" content=\"noindex\">-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="refresh" content="0; url=https://medium.com/clairvoyantblog/understand-google-api-ai-and-build-artificial-intelligent-assistant-2fac8d64b71a"/>
    <h3 style="text-align: center">Redirecting to Clairvoyant's Blog Post</h3>

    {{ else if in ( printf "%v" .Slug) "blog" }}
    <title>Clairvoyant Blog</title>
    <link rel="canonical" href="https://medium.com/clairvoyantblog"/>
    <!--<meta name=\"robots\" content=\"noindex\">-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="refresh" content="0; url=https://medium.com/clairvoyantblog"/>
    <h3 style="text-align: center">Redirecting to Clairvoyant's Blog</h3>

    {{ end }}
</head>
</html>