<section class="fw-section bg-parallax padding-top-3x padding-bottom-3x" data-parallax-speed="0.4"
         data-parallax-type="scroll" style="background-image: url(/assets/img/cv/orange-cta.png);">
    <div class="container text-center">
        <h2 class="block-title text-center">
            <!--{{.message}}-->
            Are you interested in joining Clairvoyant?
        </h2>
        <a class="btn btn-pill button0 " href="/careers">
            Visit Careers
        </a>
    </div>
</section>